<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone - Todo</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="/static/styles/main.css" />
  </head>
  <body class="w-full h-full bg-zinc-800 text-yellow-50 text-center">
    <nav
      class="w-full flex justify-between items-center px-6 h-20 text-xl sticky top-0 bg-zinc-800 shadow-xl shadow-slate-700"
    >
      <h1 class="text-lime-600">Nigeria</h1>
      <ul class="flex justify-evenly items-center">
        <li class="decoration-transparent">
          <a
            class="no-underline text-xs p-1 rounded-lg hover:bg-slate-700 hover:text-yellow-300"
            href="/"
            >Home</a
          >
        </li>
        <li class="decoration-transparent">
          <a
            class="no-underline text-xs p-2 rounded-lg hover:bg-slate-700 hover:text-yellow-300"
            href="/quotesForm"
            >NewQuote</a
          >
        </li>
      </ul>
    </nav>
    <main class="mt-4">
